# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=velib_db
DB_USER=postgres
DB_PASSWORD=your_password_here

# APIs
OPEN_DATA_PARIS_API_KEY=your_api_key_here
OPEN_METEO_API_URL=https://open-meteo.com/en/docs
